@import "./theme.css";
@import "./header.css";
@import "./main.css";
@import "./card.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: small;
  background: var(--footer-bg);
  color: var(--footer-text);
}
